/** General css - STARTS **/

@font-face {
  font-family: 'ABC Favorit';
  src: url('assets/fonts/ABC-favorit/ABCFavoritMono-Book.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('assets/fonts/helvetica-neue/HelveticaNeueRoman.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Thin';
  src: url('assets/fonts/helvetica-neue/HelveticaNeueThin.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f8f6f5;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.container {
  max-width: 1282px !important;
}

body,
html {
  overflow-x: hidden !important;
}

/** General css - ENDS **/

/** Hearder - STARTS **/
header .container {
  border-bottom: 1px solid #181716;
  padding: 20px 0;
}

.header__nav {
  margin-left: auto;
  align-self: center;
}

.header__nav-list {
  padding-left: 0;
}

.header__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-bottom: 0;
}

.header__nav-link {
  color: #181716;
  text-decoration: none;
  font-size: 20px;
}

.header__nav-link.--solid {
  color: #fff;
  background-color: #d1581f;
  padding: 10px 24px 13px;
  border-radius: 30px;
}

.header__nav-item:last-of-type {
  margin-left: 35px;
}

@media (max-width: 767.98px) {
  header .container {
    padding: 26px 0;
  }

  .header .row {
    margin: 0;
  }

  .header__logo-container img {
    max-width: 102px;
  }

  .header__nav-item:last-of-type {
    margin-left: 0;
    font-family: 'Helvetica Neue Thin';
  }

  .header__nav-link.--solid {
    padding: 14px 25px;
  }
}

/** Hearder - ENDS **/

/** Main Banner - STARTS **/
.banner {
  padding-top: 114px;
  padding-bottom: 63px;
}

.banner__title {
  font-family: 'ABC Favorit';
  font-size: 48px;
  color: #181716;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.banner__title em {
  font-style: normal;
  color: #d1581f;
  display: block;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 0;
}

.banner__subtitle {
  font-size: 24px;
  color: #181716;
  letter-spacing: -1.5px;
  line-height: 28.8px;
  margin-bottom: 40px;
}

.banner__media-content img {
  max-width: 100%;
}

.banner__cta-button {
  color: #fff;
  background-color: #d1581f;
  padding: 18px 36px;
  border-radius: 30px;
  line-height: 24.4px;
  font-size: 20px;
  outline: none;
  border: none;
}

@media (max-width: 767.98px) {
  .banner {
    padding-top: 61px;
    padding-bottom: 135px;
  }

  .banner__title {
    font-size: 28px;
    font-family: 'Helvetica Neue';
    letter-spacing: -1.5px;
  }

  .banner__media-content img {
    max-width: 313px;
    margin: 0 auto;
    display: table;
  }

  .banner__subtitle {
    font-size: 18px;
    color: #000;
    letter-spacing: -1px;
    font-weight: 500;
    line-height: 25.2px;
    margin-top: 28px;
  }

  .banner__cta-button {
    width: 100%;
    max-width: 333px;
    margin: 0 auto;
    display: table;
    padding: 22.5px 36px;
    font-size: 24px;
    border-radius: 40px;
  }
}
/** Main Banner - ENDS **/

/** Brands Section - STARTS **/
.brands__separator {
  height: 1px;
  display: block;
  background-color: #181716;
}

.brands__separator.brands__separator--top {
  margin-bottom: 37px;
}

.brands__separator.brands__separator--bottom {
  margin-top: 52px;
}

.brands__header {
  text-align: center;
}

.brands__title {
  font-family: 'ABC Favorit';
  font-size: 36px;
  letter-spacing: -2px;
  margin-bottom: 42px;
  letter-spacing: -3px;
}

.splide__slide img {
  max-width: 100%;
  margin: 0 auto;
}

.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .brands__title {
    margin-bottom: 86px;
  }

  .brands__separator.brands__separator--top {
    max-width: 88%;
    margin: 0 auto 30px;
  }

  .brands__separator.brands__separator--bottom {
    max-width: 88%;
    margin: 52px auto 0;
  }

  .brands__title {
    font-size: 21px;
    letter-spacing: -2px;
    max-width: 80%;
    text-align: left;
    margin-left: 10%;
  }
}

/** Brands Section - ENDS **/

/** Guide Content Section - STARTS **/
.guide {
  padding-bottom: 70px;
}

.guide .guide__header {
  margin-top: 96px;
  margin-bottom: 45px;
}

.guide__section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -2px;
}

.guide__icon-container {
  margin-bottom: 33px;
}

.guide__description {
  font-family: 'Helvetica Neue';
  font-size: 18px;
  color: #181716;
  line-height: 21.47px;
}

.guide__title {
  font-family: 'ABC Favorit';
  font-size: 36px;
  color: #181716;
  line-height: 43.2px;
  letter-spacing: -2px;
  margin-bottom: 37px;
}

@media (max-width: 767.98px) {
  .guide {
    padding-bottom: 109px;
  }

  .guide .guide__header {
    margin-top: 54px;
    margin-bottom: 38px;
  }

  .guide__section-title {
    font-size: 36px;
    text-align: center;
  }

  .guide__icon-container {
    display: flex;
    justify-content: center;
  }

  .guide__title {
    text-align: center;
    font-size: 36px;
    line-height: 43.2px;
    font-family: 'Helvetica Neue';
    letter-spacing: -1px;
    max-width: 90%;
    margin: 0 auto 27px;
  }

  .guide__description {
    text-align: center;
  }

  .guide .splide__pagination {
    bottom: -1.2em;
  }

  .guide .splide__pagination__page,
  .guide .splide__pagination__page.is-active {
    background: #9a8a7e;
    transform: scale(2);
    opacity: 0.5;
    margin: 0 11px;
  }

  .guide .splide__pagination__page.is-active {
    opacity: 1;
  }

  .guide__icon-container {
    margin-bottom: 47px;
  }
}

/** Guide Content Section - ENDS **/

/** Authors Section - STARTS **/
.authors {
  background-color: #453930;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 53px;
}

.authors__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

.authors__name {
  font-family: 'ABC Favorit';
  font-size: 30px;
  letter-spacing: -1px;
}

.authors__bio {
  font-size: 16px;
  line-height: 22.4px;
  max-width: 430px;
}

.authors__bio a {
  color: #fff;
}

@media (max-width: 767.98px) {
  .authors {
    background-color: #453830;
    padding-bottom: 6px;
  }

  .authors__title {
    font-size: 36px;
    text-align: center;
    max-width: 80%;
    line-height: 36px;
    margin: 0 auto 64px;
  }

  .authors__image-container {
    margin-bottom: 57px;
  }

  .authors__author {
    margin-bottom: 62px;
  }

  .authors__image-container img {
    max-width: 200px;
    margin: 0 auto;
    display: table;
  }

  .authors__name,
  .authors__bio {
    text-align: center;
  }

  .authors__bio {
    max-width: 84%;
    margin: 0 auto;
  }
}
/** Authors Section - ENDS **/

/** Trial Demo Section - STARTS **/
.demo {
  padding-top: 76px;
  padding-bottom: 21px;
}

.demo__title {
  font-family: 'ABC Favorit';
  font-size: 48px;
  text-align: center;
  line-height: 57.6px;
  max-width: 885px;
  letter-spacing: -2px;
  margin: 0 auto;
}

.demo__title em {
  font-style: normal;
  color: #d1581f;
}

.demo__disclaimer {
  text-align: center;
  font-size: 16px;
  color: #000;
  opacity: 0.8;
  line-height: 19.52px;
  font-family: 'Helvetica Neue';
}

.demo__ctas {
  margin: 0 auto;
  display: table;
  margin-bottom: 16px;
  margin-top: 20px;
}

.demo__cta {
  padding: 18px 38px;
  border-radius: 30px;
  line-height: 24.4px;
  font-size: 20px;
  text-transform: capitalize;
}

.demo__cta--solid {
  color: #fff;
  outline: none;
  border: none;
  background-color: #d1581f;
  margin-right: 15px;
}

.demo__cta--transparent {
  border: 1px solid #181716;
  color: #181716;
  background-color: #fff;
}

.demo img {
  margin-top: -25px;
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .demo {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .demo__title {
    font-size: 36px;
    line-height: 43.2px;
  }

  .demo__title em {
    display: block;
  }

  .demo img {
    margin-top: 0;
  }

  .demo__ctas {
    justify-content: center;
  }

  .demo__cta {
    font-family: 'Helvetica Neue Thin';
    display: block;
    max-height: 60px;
    padding: 18px 31.5px;
  }

  .demo__cta--solid {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .demo__image img {
    margin-bottom: 11px;
    margin-top: 27px;
  }
}
/** Trial Demo Section - ENDS **/

/** Footer - STARTS **/
footer {
  background-color: #453930;
  padding-top: 48px;
  padding-bottom: 50px;
}

.footer__company-info {
  margin-left: auto;
}

.footer__company-info address,
.footer__copyright {
  color: #fff;
  font-size: 18px;
  line-height: 26.12px;
  margin-bottom: 0;
  opacity: 0.6;
}

@media (max-width: 767.98px) {
  footer .footer__logo-container,
  footer .footer__company-info {
    padding-left: 16%;
  }

  footer .footer__logo-container {
    margin-bottom: 21px;
  }

  .footer__company-info address {
    font-family: 'Helvetica Neue Thin';
    line-height: 27.2px;
    font-size: 18px;
    letter-spacing: 0.75px;
  }

  .footer__copyright {
    font-family: 'Helvetica Neue Thin';
    margin-top: 20px;
  }
}

/** Footer - ENDS **/

/** Lightbox - STARTS **/
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox__content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: auto;
  max-width: 809px;
  max-height: 90vh;
  overflow-y: auto;
}

.lightbox__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.hs-button {
  background-color: #d1581f;
}

#hubspot-form-container form input {
  width: 100%;
  border: none;
  border: 1px solid #808080;
  outline: none;
  padding: 17px 15px;
  border-radius: 5px;
}

.hubspot-content__banner img {
  max-width: 100%;
  max-height: 30vh;
  margin: 0 auto;
  display: block;
}

.hubspot-content__header h3 {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 30px;
  color: #181716;
  line-height: 42px;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

.hubspot-content__header h3 em {
  font-style: normal;
  color: #d1581f;
  display: inline-block;
  letter-spacing: 0;
}
/** Lightbox - ENDS **/
